.banner {
    width: 100%;
    position: relative;
    display: block;

}
.banner img {
    width: 100%;
    height: auto;
    display: block;
}
.banner div{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    z-index: 100;
}
.banner div:first-child{
    left: 3px;
}
.banner div:last-child{
    right:3px;
}

.banner button{
    border: none;
    background-color: #593218;
    border-radius: 100%;
    padding: 10px;
    width: 40px;
    height: 40px;
    color: white;
    cursor: pointer;
    margin: 0 20px;
    z-index: 101;
    position: relative;
}



#titulo {
    color: #593218;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
}

.carrusel {
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    padding: 1rem 0;
    scroll-behavior: smooth;
}

.carrusel img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


.productos-carrusel {
    padding: 3rem 2rem;
    text-align: center;
}

.productos-carrusel h2 {
    color: #593218;
    margin-bottom: 2rem;
    font-size: 2rem;
}
.productos-destacados{
 display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}
.card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 2px 2px 5px 5px;
    color: #593218;
  transition: all 0.3s ease;
}
.card-img {
  position: relative;
}
.card-img img {
  width: 100%;
  display: block;
}
.card-body {
  padding: 1rem;
  text-align: left;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.card-body h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.card-footer{
  margin-top: auto;
}
.card-footer .precio{
  font-size: 1.2rem;
  color: #c89b7b;
  margin: 0.5rem 0;
}
.card-footer .btn{
  display: inline-block;
  background: #ffb6a5;
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  align-self: flex-start;
}
.btn:hover {
  background: #7a564e;
}
