section {
  padding: 3rem 2rem;
  text-align: center;
}
section h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  color:#33302c;
}
section p {
  max-width: 700px;
  margin: 0 auto 2rem auto;
  color: #555;
}

.productos {
 display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 2rem; 
  margin-top: 2rem;
}
.card {
  flex: 0 1 30%;
  max-width: 30%;    
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 2px 2px 5px 5px;
    color: #593218;
  transition: all 0.3s ease;
}
.card-img {
  position: relative;
}
.card-img img {
  width: 100%;
  display: block;
}

.card-body {
  padding: 1rem;
  text-align: left;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.card-body h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.card-footer{
  margin-top: auto;
}
.card-footer .precio{
  font-size: 1.2rem;
  color: #c89b7b;
  margin: 0.5rem 0;
}
.card-footer .btn{
  display: inline-block;
  background: #ffb6a5;
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  align-self: flex-start;
}
.btn:hover {
  background: #7a564e;
}


