body{
    background-color: #ffd6a5;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
header{
    background-color: #fae5c8;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    
}
nav{
    display: flex;
    gap: 60px;
    margin-left: 25%;

}
nav a {
    color: #593218;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 23px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

header img{
    width: 180px;
}
.pie{
    width: 100%;
    background-color:#fae5c8 ;

}
.g1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:flex;
    flex-direction: row;
    gap: 70px;
    padding: 45px 0px;
}
.g1 h2{
    color:#593218;  
}

.redes img{
    width: 30px;
    height:30px; 
    margin-right: 15px;
    background-color: #ffd6a5;
    padding: 10px;
    border-radius: 10px;
}
.g2 {
    color:#593218;
    font-size: medium;
    text-align: center;
    font-weight: bold;
}
.carrito {
    position: absolute;
    top: 10px;
    right: 5px;
    z-index: 100;
}
#carrito-nav{
    margin-top: 10px;
}
